<!DOCTYPE HTML>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/game.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/common/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/common/mediaelement.js"></script>
    <script>
      var passedChannel;
      var isGameMode = true;
    </script>
    <script type="text/javascript" src="/js/jok/jok.audio.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>
    <script type="text/javascript" src="/js/gameclient.js"></script>
  </head>
  <body>
    <div class="x_background"></div>
    <div id="side_bar">
       <div id="joklogo"><span style="margin-left: -5px">MELOMANI</span></div>
       <div id="volume_bar">
          <div class="volume_icon"></div>
          <input type="range" id="volume" />
       </div>
    </div>
    <div class="exit">< Exit</div>
    <div class="game">
      <div class="game_title">
        Guess who sings  ??
        <div class="points">score: <span class="score"></span></div>
      </div>
      <div class="results">
        <!-- <div class="top_players_day">
          <div class="title">Top Players (of the day):</div>
          <div class="table"></div>
        </div> -->
        <div class="top_players">
          <div class="title">Game Results:</div>
          <div class="table"></div>
        </div>
        <div class="points_info">
          You have earned <span class="result_score"></span> points!
          <div class="fbshare">Share</div>
        </div>
        <div class="new_game">
          New game starts in <span class="timer"></span> seconds
        </div>
        <div class="banner">
          <script type="text/javascript"><!--
            google_ad_client = "ca-pub-5560503970480137";
            /* Jok-fm */
            google_ad_slot = "7768802184";
            google_ad_width = 300;
            google_ad_height = 250;
            //-->
            </script>
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </div>
      </div>
      <div class="playingUI">
        <div class="quest">
          <div class="answers"></div>
        </div>
        <div class="progressBar">
          <div class="inner"></div>
        </div>
        <div class="answers_log"></div>
      </div>
    </div>
    <div class="game_results">
      <div class="header">
      </div>
      <div class="items"></div>
    </div>

    <div id="banner">
      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-5560503970480137";
        /* Jok.fm (leftside) */
        google_ad_slot = "8881271780";
        google_ad_width = 160;
        google_ad_height = 600;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>

    <script>
        if ($(window).width() < 1100 || $(window).height() < 705)
          $('#banner').hide();
        
        $(window).resize(function() {
          if ($(window).width() >= 1100 && $(window).height() >= 705)
            $('#banner').show();
          else
            $('#banner').hide();
        })
      </script>

    <div style="position: fixed; bottom: 5px; left: 5px;">
        <!-- TOP.GE COUNTER CODE -->
        <script language="JavaScript" type="text/javascript" src="http://counter.top.ge/cgi-bin/cod?100+84350"></script>
        <noscript>
          <a target="_top" href="http://counter.top.ge/cgi-bin/showtop?84350">
          <img src="http://counter.top.ge/cgi-bin/count?ID:84350+JS:false" border="0" alt="TOP.GE" /></a>
        </noscript>
        <!-- / END OF COUNTER CODE -->
        <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-6018067-4']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
        </script>
    </div>
  </body>
</html>
